.contacts {

  &__container {
    @include tablet {
      padding: 0 15%;
    }
  }

  &__title {
    font-size: 40px;
    line-height: 140%;
    font-weight: 700;
    margin: 0 0 4vh;
    display: block;
    overflow: hidden;

    @include mobile-only {
      font-size: 30px;
    }

    span {
      display: block;
      @include float-up;
    }
  }

  &__list {
    @include clear-list;
    display: grid;
    row-gap: 4vh;
  }

  &__link {
    font-size: 19px;
    line-height: 19px;
    color: $red-10;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    column-gap: 15px;

    &:hover,
    &:focus {
      transform: translateX(40px);
      transition: all .5s;
    }

    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $red-10;
    }

    &--address {
      &::before {
        mask-image: url("../../img/icons/stack.svg#location");
      }
    }

    &--phone {
      &::before {
        mask-image: url("../../img/icons/stack.svg#phone");
      }
    }

    &--mail {
      &::before {
        mask-image: url("../../img/icons/stack.svg#mail");
      }
    }

    &--telegram {
      &::before {
        mask-image: url("../../img/icons/stack.svg#telegram");
      }
    }

    &--github {
      &::before {
        mask-image: url("../../img/icons/stack.svg#github");
      }
    }
  }
}
