.content {

  &__container {
    @include tablet {
      padding: 0 15%;
    }
  }

  &__title {
    font-size: 40px;
    line-height: 140%;
    font-weight: 700;
    margin: 0 0 4vh;
    display: block;

    @include mobile-only {
      font-size: 30px;
    }
  }
}
