.header {

  &__navigation {
    width: max-content;
    position: fixed;
    top: 10vh;
    right: 2vw;

    @include laptop {
      right: calc((100vw - 21.5em) / 8);
    }

    @include desktop {
      right: calc((100vw - 21.5em) / 4);
    }
  }

  &__link {
    @include float-up;
    display: flex;
    column-gap: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: $white;
    text-decoration: none;
    text-transform: lowercase;

    &::after {
      content: "";
      width: 20px;
      height: 20px;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $white;
      mask-image: url("../../img/icons/stack.svg#arrow-back");
    }

    &::before {
      display: none;
    }

    @include laptop {
      display: block;

      &::before {
        display: block;
      }

      span {
        display: none;
      }

      &:hover,
      &:focus {
        display: flex;

        &::before {
          display: none;
        }

        span {
          display: block;
        }
      }
    }

    &--black {
      color: $black;

      &::after {
        background-color: $black;
      }
    }

    &--contacts {
      &::before {
        content: "Контакты";
      }
    }

    &--about {
      &::before {
        content: "Обо мне";
      }
    }

    &--projects {
      &::before {
        content: "Проекты";
      }
    }

    &--cat-energy {
      &::before {
        content: "Cat Energy";
      }
    }

    &--kekstagram {
      &::before {
        content: "Kekstagram";
      }
    }

    &--drink2go {
      &::before {
        content: "Drink2Go";
      }
    }

    &--sedona {
      &::before {
        content: "Sedona";
      }
    }
  }
}
