.navigation {
  display: none;
  font-size: 2.5em;
  line-height: 130%;
  font-weight: 700;

  @include laptop {
    display: block;
  }

  @include touch-screen {
    &--nojs {
      display: block;
      font-size: 2em;
      line-height: 120%;

      a {
        span {
          display: block;
        }

        &::after {
          display: none;
        }
      }
    }

    &--show {
      display: block;

      a {
        span {
          display: block;
        }

        &::after {
          display: none;
        }
      }
    }

    &--hidden {
      display: none;
    }
  }

  &__list {
    @include clear-list;
  }

  &__item {
    overflow: hidden;

    &:nth-child(2) a {
      animation-delay: .4s;
    }

    &:nth-child(3) a {
      animation-delay: .8s;
    }
  }

  &__link {
    @include float-up;
    text-decoration: none;
    color: $red-10;
    display: flex;

    @include tablet {
      width: 50%;
    }

    &--white {
      color: $white;
    }

    &::after {
      width: 100%;
      height: 100%;
    }

    &--about {
      &::after {
        content: "Привет.";
      }
    }

    &--projects {
      &::after {
        content: "Я";
      }
    }

    &--contacts {
      &::after {
        content: "Андрей";
      }
    }

    span {
      display: none;
    }

    &:hover,
    &:focus {
      transform: translateX(40px);
      transition: all .5s;

      span {
        display: block;
      }

      &::after {
        display: none;
      }
    }
  }
}
