.slider {

  &__image {
    max-width: 100%;
    height: auto;
    max-height: 90vh;
    object-fit: contain;
  }

  &__button {
    width: fit-content;

    &--prev {
      left: -7%;
    }

    &--next {
      right: -7%;
    }

    @include laptop {
      width: 15%;

      &--prev {
        left: -10%;
      }

      &--next {
        right: -10%;
      }
    }
  }

  &__indicators {
    [data-bs-target] {
      background-color: $black;
    }
  }
}
